@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

h2 {
	margin: 2.5rem 1rem 4.5rem;
	color: #09f;
	font-weight: bold;
	font-size: 1.5rem;
}

#menu {
	text-align: right;

	ul {
		margin: 2.5rem 1rem 4.5rem 0;
		font-weight: bold;
	}

	li {
		display: inline;
		margin-left: 1.5rem;
	}
}

.filters {

	// disable select and hightlighting
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	.filter-wrapper {

		margin-bottom: 1.4rem;
	}

	.heading {

		background-color: #f60;

	}

	.blue {

		background-color: #09f;
	}

	h3 {

		font-size: 0.95em;
		color: #fff;
		font-weight: bold;
		display: inline-block;
		// padding: 0.55rem 1rem 0.3rem 1rem;
		// background-color: #09f;
		margin-top: 0.5rem;
	}

	.icon {

		padding-top: 1rem;
		color: #fff;
	}

	.heading {

		.icon {

			line-height: 2.4rem;
		}
	}

	.sortable {

		// min-height: 1.5rem;
		background-color: rgba(255, 130, 46, 1);
		// margin-bottom: 1.5rem;
		padding: 0.6rem 1rem 0.7rem 1rem;
		min-height: 2.8rem;

		input[type="checkbox"] {

			margin-right: 0.5rem;
		}

		li {

			font-size: 0.95em;
			list-style: none;
			color: #fff;
			cursor: n-resize;

			.icon {

				font-size: 1.3em;
				// padding-top: 0.3rem;
			}

			span {

				float:	right;
				text-align: right;
				margin-right: 1rem;
				// margin-top: 0.3rem;
				font-weight: bold;
			}
		}
	}

	.light {

		background-color: rgba(0, 153, 255, 0.54);
	}
}

.products {

	// padding-left: 3rem;
}

.product {

	height: 27rem;

	// .icon {

	// 	font-size: 1.4rem;
	// }

	// h3 {

	// 	font-size: 0.95em;
	// 	color: #09f;
	// 	font-weight: bold;
	// 	margin-bottom: 0;
	// }

	.score {

		font-size: 1.5rem;
		color: #fff;
		background-color: #f60;
		// line-height: 1rem;
		font-weight: bold;
		padding: 0;

		.icon {

			font-size: 1.5rem;
		}
	}

	h3 {

		font-size: 0.95em;
		color: #09f;
		font-weight: bold;
		margin: 0;
		line-height: 1.15rem
	}

	.image {

		position: relative;
	}

	.price {

		z-index: 99;
		position: absolute;
		right: 0;
		bottom: -41px;
		color: #fff;
		font-weight: bold;
		background-color: #09f;
		padding: 0.5rem 0.8rem;
	}

	// .score {

	// 	color: #f60;
	// 	font-weight: bold;
	// 	font-size: 2.3em;
	// }

	ul {

		// margin-left: 0;
	}

	li {

		font-size: 0.93em;
		list-style-type: square;

	}
}

.ui-sortable-helper {

	color: #f60;
}
