<h3>About</h3>

<p>
  Functional filters is ontstaan uit de onvrede met de functionaliteiten van de huidige prijsverglijkers en productvergelijkers.
  Op het moment dat er geen product bestaat dat aan alle eisen voldoet dan is het niet meer mogelijke om een goede afgewegen keuze te maken zonder eindeloos te moeten klikken.
  Functional filters probeert dit probleem op te lossen door op een nieuwe manier te kijken naar hoe filters ingezet kunnen worden om dit proces te verbeteren.
</p>
