<h3>Guide</h3>

<p>Functional filters maakt het mogelijk om producten op een overzichtelijkere en nauwkeurigere manier te vergelijken. De filters zijn opgedeeld in "zou leuk zijn" en "moet hebben". Zoals de namen al aangeven maakt dit het mogelijk op je eisen onder te verdelen in harde en zachte eisen.</p>
