<div class="medium-4 columns filters">

  <div class="filter-wrapper">
    <div class="row heading" ng-click="toggle1=!toggle1">
      <div class="small-10 columns">
        <h3>Zou leuk zijn</h3>
      </div>
      <div class="small-2 columns">
        <i class="icon ion-arrow-down-b"></i>
      </div>
    </div>
    <ul ui-sortable="sortableOptions" ng-model="softFilters.items" ng-hide="toggle1" class="sortable row">
      <li ng-repeat="filter in softFilters.items">
        <i class="icon ion-navicon"></i> &nbsp; {{filter.text}} <span>x{{softFilters.items.length - $index}} &nbsp; <i class="icon ion-podium"></i></span>
      </li>
    </ul>
  </div>

  <div class="filter-wrapper">
    <div class="row heading" ng-click="toggle2=!toggle2">
      <div class="small-10 columns">
        <h3>Moet hebben</h3>
      </div>
      <div class="small-2 columns">
        <i class="icon ion-arrow-down-b"></i>
      </div>
    </div>
    <ul ui-sortable="sortableOptions" ng-model="hardFilters.items" ng-hide="toggle2" class="sortable row">
      <li ng-repeat="filter in hardFilters.items">
        <i class="icon ion-navicon"></i> &nbsp; {{filter.text}} <span>- {{ products.items.length - filter.amount}} &nbsp; <i class="icon ion-cube"></i></span>
      </li>
    </ul>
  </div>
  <!--
  <h3>Must not have</h3>
  <ul ui-sortable="sortableOptions" ng-model="negativeFilters" class="sortable">
    <li ng-repeat="filter in negativeFilters">
      <i class="icon ion-navicon"></i> &nbsp; {{filter.text}}
    </li>
  </ul>
-->

<div class="filter-wrapper">
  <div class="row heading blue" ng-click="toggle3=!toggle3">
    <div class="small-10 columns">
      <h3>Beschikbare snelfilters</h3>
    </div>
    <div class="small-2 columns">
      <i class="icon ion-arrow-down-b"></i>
    </div>
  </div>
  <ul ui-sortable="sortableOptions" ng-model="fastFilters.items" ng-hide="toggle3" class="sortable light row">
    <li ng-repeat="filter in fastFilters.items">
      <i class="icon ion-navicon"></i> &nbsp; {{filter.text}} ({{filter.amount}})
    </li>
  </ul>
</div>

<div class="filter-wrapper">
  <div class="row heading blue" ng-click="toggle4=!toggle4">
    <div class="small-10 columns">
      <h3>Merkk</h3>
    </div>
    <div class="small-2 columns">
      <i class="icon ion-arrow-down-b"></i>
    </div>
  </div>
  <ul ui-sortable="sortableOptions" ng-model="brandFilters.items" ng-hide="toggle4" class="sortable light row">
    <li ng-repeat="filter in brandFilters.items">
      <i class="icon ion-navicon"></i> &nbsp; {{filter.text}} ({{filter.amount}})
    </li>
  </ul>
</div>

<div class="filter-wrapper">
  <div class="row heading blue" ng-click="toggle5=!toggle5">
    <div class="small-10 columns">
      <h3>Scherm</h3>
    </div>
    <div class="small-2 columns">
      <i class="icon ion-arrow-down-b"></i>
    </div>
  </div>
  <ul ui-sortable="sortableOptions" ng-model="screenFilters.items" ng-hide="toggle5" class="sortable light row">
    <li ng-repeat="filter in screenFilters.items">
      <i class="icon ion-navicon"></i> &nbsp; {{filter.text}} ({{filter.amount}})
    </li>
  </ul>
</div>
</div>

<div ng-model="products.items" class="medium-8 columns">
<div class="row products">
  <div ng-repeat="product in products.items | score:hardFilters.items:softFilters.items" class="medium-5 columns product small-offset-1" ng-class="{'end':$last}">
    <div class="row">
      <div class="small-3 columns score text-center">
        {{product.score}} <i class="icon ion-podium"></i>
      </div>
      <div class="small-9 columns">
        <h3>{{product.name}}</h3>
      </div>
    </div>
    <div class="image">
      <img src="{{product.image}}" />
      <div class="price">€ {{product.price}},-</div>
    </div>
    <ul>
    <li ng-repeat="spec in product.specs" ng-show="spec.value">{{spec.text}}</li>
    </ul>

  </div>
</div>
</div>
